header {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header::after {
  position: absolute;
  background: url("../../assets/background.png") center/cover no-repeat;
  width: 703px;
  height: 600px;
  content: "";
  top: 0;
  left: 55%;
  transform: translate(-50%, 30%);
  pointer-events: none;
  z-index: 1;
}
header .header_menu_block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 120px;
  z-index: 10;
}
header .header_menu_block .button_block {
  width: 281px;
  height: 58px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
header .header_menu_block .button_block .open_account {
  width: 133px;
  height: 40px;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #D9DEE2;
  padding: 10px;
  background: transparent;
  gap: 2px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #EDF1F4;
  cursor: pointer;
}
header .header_block_wrapped {
  width: 100%;
  height: 574px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 120px;
}
header .header_block_wrapped .header_wrapped_up_block {
  width: 100%;
  height: 296px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
header .header_block_wrapped .header_wrapped_up_block .header_title {
  width: 580px;
  font-family: "Prompt";
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}
header .header_block_wrapped .header_wrapped_up_block .header_about {
  width: 429px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.15px;
  color: #919CA2;
  text-align: start;
}
header .header_block_wrapped .header_wrapped_up_block .get_you_bonus_button {
  width: 180px;
  height: 56px;
  border-radius: 16px;
  padding: 16px 0px 16px 0px;
  background: #8A24F3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
header .header_block_wrapped .header_wrapped_down_block {
  width: 1180px;
  height: 100px;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid;
  border-image-source: linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
  background: linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .header_block_wrapped .header_wrapped_down_block .wrapped_down_vector_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
header .header_block_wrapped .header_wrapped_down_block .wrapped_down_vector_block .about_vector {
  width: auto;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}
header .line_block {
  width: 100%;
  border-radius: 32px;
  background: radial-gradient(96.31% 1246.74% at 97.29% 4.76%, #1F2731 0%, rgba(144, 19, 188, 0) 100%), linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
  border-image-source: linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 32px;
  margin-bottom: 120px;
  z-index: 6;
}
header .line_block::before {
  position: absolute;
  background: url("../../assets/ellipse508.png") center/cover no-repeat;
  width: 1097px;
  height: 1015px;
  content: "";
  top: 0;
  left: 45%;
  transform: rotate(0deg);
  pointer-events: none;
  z-index: -1;
}
header .line_block .line_up_block {
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
header .line_block .line_up_block .line_up_block_title {
  width: 449px;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: start;
  color: #FFFFFF;
}
header .line_block .line_up_block .line_up_block_about {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: start;
  color: #D9DEE2;
}
header .line_block .line_up_block .get_you_bonus_button {
  width: 180px;
  height: 56px;
  border-radius: 16px;
  padding: 16px 0px 16px 0px;
  background: #8A24F3;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  align-self: start;
}
header .line_block .line_mid_block_wrapped .line_mid_block {
  height: 265px;
  border-radius: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(0deg, #171E27, #171E27), linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
  border: 1px solid;
  border-image-source: linear-gradient(143.51deg, rgba(221, 221, 221, 0.22) 16.75%, rgba(0, 0, 0, 0) 46.78%, rgba(221, 221, 221, 0.22) 78.74%);
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line {
  width: 543px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider_prices {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider_prices .slider_price {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #5E6B74;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider_prices .slider_price2 {
  color: #FFFFFF;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider {
  transform: translateY(100%);
  width: 100%;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  border-radius: 20px;
  height: 20px;
  background: #8A24F3;
  outline: none;
  position: relative;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #FFFFFF;
  transition: 0.1s;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider::-moz-range-thumb {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #FFFFFF;
  transition: 0.1s;
}
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider::-webkit-slider-thumb:hover,
header .line_block .line_mid_block_wrapped .line_mid_block .investment_line .slider::-webkit-slider-thumb:active {
  width: 39px;
  height: 39px;
  cursor: pointer;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .mid_block_div_investment {
  transform: translateY(50%);
  font-family: "Prompt";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .mid_block_div_investment2 {
  width: 184px;
  font-family: "Prompt";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #FFFFFF;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .purple {
  font-family: "Prompt";
  color: #8A24F3;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .mid_block_div_investment3 {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translateY(20%);
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .mid_block_div_investment3 .mid_block_div_investment3_span {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  text-align: right;
  color: #5E6B74;
  text-decoration: line-through;
}
header .line_block .line_mid_block_wrapped .line_mid_block .you_invest .mid_block_div_investment3 .mid_block_div_investment3_span2 {
  font-family: "Prompt";
  font-weight: 500;
  font-size: 48px;
  line-height: 76px;
  text-align: right;
  color: #8A24F3;
}

@media screen and (max-width: 2000px) {
  header {
    position: relative;
  }
  header::after {
    position: absolute;
    background: url("../../assets/background.png") center/cover no-repeat;
    width: 703px;
    height: 600px;
    content: "";
    top: 0;
    left: 60%;
    transform: translate(-30%, 30%);
    z-index: 1;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding-top: 16px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header::after {
    position: absolute;
    background: url("../../assets/mobile_background.png") center/cover no-repeat;
    width: 703px;
    height: 600px;
    content: "";
    top: 34%;
    left: 50%;
    transform: translate(-50%, -34%);
    z-index: 1;
    pointer-events: none;
  }
  header .header_menu_block {
    width: 328px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 12px;
    margin: 0;
  }
  header .header_menu_block .button_block {
    width: 133px;
    height: 58px;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }
  header .header_menu_block .button_block img {
    transform: translateY(0px);
  }
  header .header_menu_block .button_block .open_account {
    width: 133px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #919CA2;
    background: transparent;
    gap: 2px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #D9DEE2;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
  }
  header .header_block_wrapped {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 40px;
  }
  header .header_block_wrapped .header_wrapped_up_block {
    width: 328px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 300px;
  }
  header .header_block_wrapped .header_wrapped_up_block .header_title {
    width: 328px;
    font-family: "Prompt";
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
  }
  header .header_block_wrapped .header_wrapped_up_block .header_about {
    width: 328px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    color: #919CA2;
    text-align: start;
  }
  header .header_block_wrapped .header_wrapped_up_block .trade_gold_button {
    width: 180px;
    height: 56px;
    border-radius: 8px;
    padding: 16px 0px 16px 0px;
    background: #F0A719;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
  }
  header .header_block_wrapped .header_wrapped_down_block {
    width: 328px;
    height: 150px;
    border-radius: 20px;
    background: #1F1C10;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  header .header_block_wrapped .header_wrapped_down_block .wrapped_down_vector_block {
    width: 130px;
    height: 48px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
    padding: 0;
    margin: 0;
  }
  header .header_block_wrapped .header_wrapped_down_block .wrapped_down_vector_block img {
    margin: 0;
  }
  header .header_block_wrapped .header_wrapped_down_block .wrapped_down_vector_block .about_vector {
    width: 102px;
    height: 48px;
    font-family: "Prompt";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    align-self: start;
  }
  header .line_block {
    width: 100%;
    height: 336px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    margin: 0;
  }
  header .line_block .line_up_block {
    width: 449px;
    height: 104px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  header .line_block .line_up_block .line_up_block_title {
    width: 100%;
    height: 80px;
    font-family: "Prompt";
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
  }
  header .line_block .line_up_block .line_up_block_about {
    width: 328px;
    height: 48px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #D9DEE2;
  }
  header .line_block .line_mid_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  header .line_block .line_mid_block .mid_block_div {
    width: 328px;
    height: 130px;
    border-radius: 24px;
    border: 1px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(241.16deg, #1F1C10 3.83%, #503D0B 47.84%, #1F1C10 96.7%);
  }
  header .line_block .line_mid_block .mid_block_div .investment_line {
    width: 296px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  header .line_block .line_mid_block .mid_block_div .mid_block_div_investment {
    transform: translate(-10%, 50%);
    margin-right: auto;
    font-family: "Prompt";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  header .line_block .line_mid_block .mid_block_div .mid_block_div_profit {
    transform: translateY(50%);
    height: 24px;
    font-family: "Prompt";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  header .line_block .line_mid_block .mid_block_div .mid_block_div_money {
    width: 211px;
    height: 62px;
    font-family: "Prompt";
    font-weight: 500;
    font-size: 48px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=Header.module.css.map */
